---
import About from '@components/About.astro';
import Contact from '@components/Contact.astro';
import Hero from '@components/Hero.astro';
import Projects from '@components/Projects.astro';
import TechnologyStack from '@components/TechnologyStack.astro';
import BackToTop from '@components/ui/BackToTop.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout>
	<main>
		<Hero />
		<About />
		<Projects />
		<TechnologyStack />
		<Contact />
		<BackToTop />
	</main>

	<div
		id="messageDialog"
		class="fixed inset-0 hidden items-center justify-center bg-black bg-opacity-80"
	>
		<div
			class="rounded-lg border border-black bg-white p-6 shadow-lg dark:border-white dark:bg-black"
		>
			<p id="dialogMessage" class="text-lg"></p>
			<button id="closeDialog" class="bg-blue-500 mt-4 rounded px-4 py-2">Close</button>
		</div>
	</div>

	<script is:inline>
		function getQueryParam(name) {
			const urlParams = new URLSearchParams(window.location.search);
			return urlParams.get(name);
		}

		document.addEventListener('DOMContentLoaded', () => {
			const message = getQueryParam('message');

			if (message) {
				const dialog = document.getElementById('messageDialog');
				const dialogMessage = document.getElementById('dialogMessage');
				dialogMessage.textContent = decodeURIComponent(message);
				dialog.classList.remove('hidden');
				dialog.classList.add('flex');
			}

			document.getElementById('closeDialog')?.addEventListener('click', () => {
				document.getElementById('messageDialog')?.classList.add('hidden');
				document.location.href = '/';
			});
		});
	</script>
</Layout>
