---
import About from '@components/About.astro';
import Hero from '@components/Hero.astro';
import Projects from '@components/Projects.astro';
import TechnologyStack from '@components/TechnologyStack.astro';
import Layout from '@layouts/Layout.astro';

import surojd from '@assets/images/surojd.jpg';
import { getImage } from 'astro:assets';
const image = await getImage({
	src: surojd,
	widths: [400, 600, 800, 1600, surojd.width],
	format: 'webp',
	alt: 'Suroj Dangol',
	quality: 80,
});
---

<Layout>
	<Fragment slot="head">
		{
			image.srcSet.values.map((item, i) => (
				<link rel={i === 0 ? 'preload' : 'prefetch'} href={item.url} as="image" />
			))
		}
	</Fragment>
	<main id="main">
		<Hero />
		<About />
		<Projects />
		<div id="tech"></div>
	</main>

	<div
		id="messageDialog"
		class="fixed inset-0 hidden items-center justify-center bg-black bg-opacity-80"
	>
		<div
			class="rounded-lg border border-black bg-white p-6 shadow-lg dark:border-white dark:bg-black"
		>
			<p id="dialogMessage" class="text-lg"></p>
			<button id="closeDialog" class="bg-blue-500 mt-4 rounded px-4 py-2">Close</button>
		</div>
	</div>

	<script>
		function getQueryParam(name: string) {
			const urlParams = new URLSearchParams(window.location.search);
			return urlParams.get(name);
		}

		const loadpage = async (page: string, id: string) => {
			const response = await fetch(page);
			const html = await response.text();
			const dynamicContent = document.getElementById(id);
			if (dynamicContent) {
				dynamicContent.outerHTML = html;
			}
		};

		document.addEventListener('DOMContentLoaded', async () => {
			loadpage('/technology-stack', 'tech');
			const message = getQueryParam('message');
			if (message) {
				const dialog = document.getElementById('messageDialog');
				const dialogMessage = document.getElementById('dialogMessage');
				dialogMessage!.textContent = decodeURIComponent(message);
				dialog!.classList.remove('hidden');
				dialog!.classList.add('flex');
			}

			document.getElementById('closeDialog')?.addEventListener('click', () => {
				document.getElementById('messageDialog')?.classList.add('hidden');
				document.location.href = '/';
			});
		});
	</script>
</Layout>
