---
import 'tailwindcss/tailwind.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Invitation Card</title>
		<meta property="og:image" content="/images/card-design.webp" />
	</head>
	<body class="flex h-screen max-h-screen flex-col items-center justify-center bg-black text-white">
		<main class="text-center">
			<img
				class="w-screen max-w-lg object-contain"
				src="/images/card-design.webp"
				alt="Card Design"
				loading="lazy"
			/>
		</main>
		<iframe
			class="w-full max-w-lg flex-grow"
			src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d220.9137179356991!2d85.2967270463705!3d27.636299220888844!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb174e3d03550d%3A0xacc2ff8da0d738f!2z4KS44KSy4KS-4KSBIOCkl-ClgeCkoOClgA!5e0!3m2!1sen!2snp!4v1718374393453!5m2!1sen!2snp"
			style="border:0;"
			allowfullscreen=""
			loading="lazy"
			referrerpolicy="no-referrer-when-downgrade"></iframe>
	</body>
</html>
