---
import Button from '@components/ui/Button.astro';
import Social from '@components/ui/Social.astro';
---

<section
	data-testid="contact"
	id="contact"
	class="flex flex-col flex-wrap items-center justify-center gap-8 text-black dark:text-white lg:mb-0  "
>
	<p>Comtact me</p>
	<hr class="sm:w-1/2 w-full" />
	<div class="grid w-full grid-cols-auto-fit-1 sm:w-1/2">
		<Social />
	</div>
</section>
