---
import Social from '@components/ui/Social.astro';
---

<section
	data-testid="contact"
	id="contact"
	class="flex h-screen flex-col flex-wrap items-center justify-center gap-8  lg:mb-0"
>
	<p>Comtact me</p>
	<hr class="w-full sm:w-1/2" />
	<Social />
</section>
