---
import Social from '@components/ui/Social.astro';
import Section from '@layouts/Section.astro';
---

<Section id="contact" title="Contact Me">
	<div class="grow">
		<Social />
	</div>
	<section class="m-4 flex flex-col gap-2">
		<p>
			Welcome to my portfolio website. Here, you can find detailed information about my projects,
			the technologies I work with, and my professional background. I am a full-stack developer with
			expertise in Java, Spring Boot, ReactJS, Flutter, and more. Feel free to explore and learn
			more about my work.
		</p>
		<p>
			If you have any questions or would like to get in touch, please visit the contact section. I
			am always open to discussing new projects, creative ideas, or opportunities to be part of your
			vision.
		</p>
	</section>
	<footer data-testid="footer" class="p-6 text-center text-sm">
		<p>
			Copyright © {new Date().getFullYear()}. All rights reserved.
		</p>
	</footer>
</Section>
