---
import surojd from '@assets/images/surojd.jpg';
import Section from '@layouts/Section.astro';
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
import Next from './ui/Next.astro';
---

<Section>
	<h1 class="hidden">Suroj Dangol</h1>
	<div
		data-testid="hero"
		class="flex grow flex-col items-center justify-center text-center sm:flex-row-reverse"
		id="home"
	>
		<div data-testid="hero-img" class="mb-10 flex w-1/2 items-center justify-center">
			<Image
				src={surojd}
				alt="Suroj Dangol"
				class="aspect-square rounded-full object-cover"
				loading="lazy"
				format="avif"
				widths={[100, 200, 400, 600]}
				height={400}
				width={400}
				quality={50}
			/>
		</div>
		<div class="mb-10 flex flex-col items-center sm:mb-0 sm:w-1/2">
			<div>
				<h2 class="mb-10 font-monospace text-3xl md:text-4xl lg:text-5xl">
					Hi! My name is <span class="text-orange">Suroj Dangol</span> and I am a Full Stack developer
					based in Nepal.
				</h2>
			</div>
			<div class="mb-10">
				<a href="https://github.com/Surojd" target="_blank" rel="noopener" aria-label="github"
					><Icon
						class="h-8 hover:text-orange dark:hover:text-orange md:h-12"
						name="mdi:github"
						size={100}
					/></a
				>
			</div>
		</div>
	</div>
	<Next url="#about" />
</Section>
