---
import ToggleTheme from '@components/ui/ToggleTheme.astro';
import { Astronav, MenuItems } from 'astro-navbar';

const menuitems = [
	{
		title: 'About',
		path: '#about',
	},
	{
		title: 'Projects',
		path: '#projects',
	},
	{
		title: 'Tech Stack',
		path: '#tech',
	},
	{
		title: 'Contact',
		path: '#contact',
	},
];
const { nav } = Astro.props;

---

<header
	data-testId="header"
	class="z-50 flex w-full flex-col items-center justify-between xs:flex xs:flex-row dark:bg-black bg-white py-2"
>
	<Astronav>
		<div></div>
		<MenuItems class="w-full xs:mt-0 flex xs:w-auto justify-center">
			<ul class="flex  flex-row gap-3 mx-2">
				{
					menuitems.map((item) => (
						<>
							<li>
								<a
									aria-label="navigation link"
									href={item.path}
									class="flex py-2 text-black hover:text-orange dark:text-white dark:hover:text-orange xs:px-3 focus-within:text-orange"
								>
									{item.title}
								</a>
							</li>
						</>
					))
				}
				<li class="grid"><ToggleTheme id={nav}/></li>
			</ul>
		</MenuItems>
	</Astronav>
</header>
