---
import { Icon } from 'astro-icon/components';
const { url = '#' } = Astro.props;
---

<a href={url} class="hidden justify-center xs:flex" aria-label="link to repository">
	<!-- icon for donw ^ -->
	<Icon name="mdi:arrow-down" size={24} />
</a>
