---
import Button from '@components/ui/Button.astro';
import { Icon } from 'astro-icon/components';

const isProduction = import.meta.env.PROD;
const formActionURL = isProduction
	? 'https://api.surojd.com.np/api/email/submit/5ftn3jRtXboSQsA9MtPNffZirUN87M'
	: 'https://localapi.surojd.com.np/api/email/submit/5ftn3jRtXboSQsA9MtPNffZirUN87M';
---

<div class="grid w-full grid-cols-3 gap-4 sm:w-1/2 sm:grid-cols-auto-fit-1">
	<!-- for email -->
	<a
		href="mailto:hire@surojd.com.np"
		target="_blank"
		rel="noopener"
		aria-label="email"
		title="Email"
		class="grid place-items-center gap-2"
	>
		<Icon class="h-8 w-full hover:text-orange dark:hover:text-orange md:h-12" name="mdi:email" />
		<span class="sm:hidden">Email</span>
	</a>

	<a
		href="https://www.linkedin.com/in/surojd/"
		target="_blank"
		rel="noopener"
		aria-label="linkedin"
		title="Linkedin"
		class="grid place-items-center gap-2"
	>
		<Icon class="h-8 w-full hover:text-orange dark:hover:text-orange md:h-12" name="mdi:linkedin" />
		<span class="sm:hidden">Linkedin</span>
	</a>
	<!-- for upwork -->

	<a
		href="https://www.upwork.com/freelancers/surojd"
		target="_blank"
		rel="noopener"
		aria-label="upwork"
		title="Upwork"
		class="grid place-items-center gap-2"
	>
		<Icon
			name={'upwork-square'}
			title={'Upwork'}
			class="h-8 w-full p-1 hover:text-orange dark:hover:text-orange md:h-12"
			size={50}
		/>
		<span class="sm:hidden">Upwork</span>
	</a>

	<!-- for facebook -->
	<a
		href="https://www.facebook.com/surojdeveloper"
		target="_blank"
		rel="noopener"
		title="Facebook"
		aria-label="facebook"
		class="grid place-items-center gap-2"
	>
		<Icon class="h-8 w-full hover:text-orange dark:hover:text-orange md:h-12" name="mdi:facebook" />
		<span class="sm:hidden">Facebook</span>
	</a>

	<!-- For Whatsapp -->
	<a
		href="https://wa.me/9779849199291"
		target="_blank"
		rel="noopener"
		aria-label="whatsapp"
		title="Whatsapp"
		class="grid place-items-center gap-2"
	>
		<Icon class="h-8 w-full hover:text-orange dark:hover:text-orange md:h-12" name="mdi:whatsapp" />
		<span class="sm:hidden">Whatsapp</span>
	</a>
	<!-- for Form -->
	<div class="grid cursor-pointer place-items-center gap-2" id="formIcon" title="Form">
		<Icon class="h-8 w-full hover:text-orange dark:hover:text-orange md:h-12" name="mdi:form" />
		<span class="sm:hidden">Form</span>
	</div>
</div>

<!-- Dialog Form -->
<div
	id="dialogForm"
	class="fixed inset-0 z-50 hidden h-full w-full items-center justify-center place-self-center bg-black bg-opacity-50"
>
	<div
		class="dark:bg-gray-800 w-fit rounded-lg border border-black bg-white p-6 shadow-lg dark:border-white dark:bg-black"
	>
		<form
			id="contactForm"
			action={formActionURL}
			method="POST"
			class="flex flex-col gap-4"
		>
			<!-- close icon -->
			<div class="grid place-items-end">
				<Icon
					id="closeForm"
					class="cursor-pointer text-orange hover:text-orange dark:hover:text-orange"
					size={24}
					name="mdi:close"
				/>
			</div>
			<input name="to" type="hidden" value="surojsmiling@gmail.com" />
			<label for="name">Name</label>
			<input
				type="text"
				name="name"
				id="name"
				placeholder="Your name"
				required
				class="border-gray-300 dark:border-gray-700 rounded-md border p-2
				dark:border-white dark:bg-black "
			/>
			<label for="email">Email</label>
			<input
				type="email"
				name="email"
				id="email"
				placeholder="Your email"
				required
				class="border-gray-300 dark:border-gray-700 rounded-md border p-2
				dark:border-white dark:bg-black "
			/>
			<label for="message">Message</label>
			<textarea
				name="message"
				id="message"
				placeholder="Your message"
				required
				class="border-gray-300 dark:border-gray-700 rounded-md border p-2
				dark:border-white dark:bg-black "
			></textarea>
			<!-- <div class="g-recaptcha" data-sitekey="6LeaiwYqAAAAAEqmiYk1fKW_nOCqL2FuEAW1V9_2"></div> -->
			<div id="recaptcha" class="g-recaptcha"></div>

			<Button type="submit">Send</Button>
		</form>
	</div>
</div>
<script is:inline>
	let url = 'https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit';
	document.addEventListener('DOMContentLoaded', () => {
		window.onloadCallback = function () {
			let systemTheme = localStorage.getItem('theme');
			window.grecaptcha.render('recaptcha', {
				sitekey: '6LeaiwYqAAAAAEqmiYk1fKW_nOCqL2FuEAW1V9_2',
				theme: systemTheme,
			});
		};

		const formIcon = document.getElementById('formIcon');
		const dialogForm = document.getElementById('dialogForm');
		const closeForm = document.getElementById('closeForm');

		formIcon.addEventListener('click', () => {
			dialogForm.classList.remove('hidden');
			dialogForm.classList.add('grid');
			document.body.style.overflow = 'hidden';
			if (!document.querySelector(`script[src="${url}"]`)) {
				const script = document.createElement('script');
				script.src = url;
				script.async = true;
				script.defer = true;
				document.body.appendChild(script);
			} else {
			}
		});

		closeForm.addEventListener('click', () => {
			dialogForm.classList.add('hidden');
			dialogForm.classList.remove('grid');
			// enable scroll
			document.body.style.overflow = 'auto';
		});
	});
</script>
