---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
import upwork from '../../icons/upwork.svg';
---

<!-- for email -->
<a href="mailto:hire@surojd.com.np" target="_blank" rel="noopener" aria-label="email">
	<Icon class="h-8 w-full hover:text-orange dark:hover:text-orange md:h-12" name="mdi:email" />
</a>

<a href="https://www.linkedin.com/in/surojd/" target="_blank" rel="noopener" aria-label="linkedin"
	><Icon
		class="h-8 w-full hover:text-orange dark:hover:text-orange md:h-12"
		name="mdi:linkedin"
	/></a
>
<!-- for upwork -->

<a
	href="https://www.upwork.com/freelancers/surojd"
	target="_blank"
	rel="noopener"
	aria-label="upwork"
>
	<Icon
		name={'upwork-square'}
		title={'Upwork'}
		class="h-8 w-full p-1 hover:text-orange dark:hover:text-orange md:h-12"
		size={50}
	/>
</a>

<!-- for facebook -->
<a
	href="https://www.facebook.com/surojdeveloper"
	target="_blank"
	rel="noopener"
	aria-label="facebook"
	><Icon
		class="h-8 w-full hover:text-orange dark:hover:text-orange md:h-12"
		name="mdi:facebook"
	/></a
>

<!-- For Whatsapp -->
<a href="https://wa.me/9779849199291" target="_blank" rel="noopener" aria-label="whatsapp"
	><Icon class="h-8 w-full hover:text-orange dark:hover:text-orange md:h-12" name="mdi:whatsapp" />
</a>
