---
export interface Props {
	tags?: string[];
}

const { tags } = Astro.props;
---

{
	tags && (
		<div class="mt-1 flex flex-row flex-wrap justify-between gap-1 ">
			{tags.map((tag) => (
				<span class="inline-block rounded text-xs ">#{tag}</span>
			))}
		</div>
	)
}
